<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barracudapff.hoobes.flatter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.in.LogInMailActivity"
            android:parentActivityName=".activities.auth.AuthActivity"
            android:theme="@style/AppTheme.SingIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.auth.AuthActivity" />
        </activity>
        <activity
            android:name=".activities.auth.up.LogUpMailActivity"
            android:parentActivityName=".activities.auth.AuthActivity"
            android:theme="@style/AppTheme.SingIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.auth.AuthActivity" />
        </activity>
        <activity
            android:name=".activities.auth.AuthActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.SingIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.MainActivity" />
        </activity>
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.MainActivity" />
        </activity>
        <activity
            android:name=".activities.settings.ProfileSettingsActivity"
            android:label="@string/title_activity_profile_settings"
            android:parentActivityName=".activities.settings.SettingsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.settings.SettingsActivity" />
        </activity>
        <activity
            android:name=".activities.party.CreatePartyActivity"
            android:label="@string/title_activity_create_party"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.MainActivity" />
        </activity>
        <activity
            android:name=".activities.party.PartyActivity"
            android:label="@string/title_activity_party"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.MainActivity" />
        </activity>
    </application>

</manifest>