<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.barracudapff.hoobes.flatter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.auth.SignInMainActivity"
            android:label="@string/title_activity_sign_in_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.MainActivity" />
        </activity>
        <activity
            android:name=".activities.auth.SignUpMainActivity"
            android:label="@string/title_activity_sing_up"
            android:parentActivityName=".activities.auth.SignInMainActivity"
            android:theme="@style/AppTheme.SingIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.auth.SignInMainActivity" />
        </activity>
        <activity
            android:name=".activities.auth.LogInMailActivity"
            android:parentActivityName=".activities.auth.SignInMainActivity"
            android:theme="@style/AppTheme.SingIn">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.auth.SignInMainActivity" />
        </activity>
        <activity
            android:name=".activities.auth.LogUpMailActivity"
            android:label="@string/title_activity_sign_up_mail"
            android:parentActivityName=".activities.auth.SignUpMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.barracudapff.hoobes.flatter.activities.auth.SignUpMainActivity" />
        </activity>
    </application>

</manifest>